<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
</head>
<body>
    {{#usuario}}
        <h1> Bem vindo {{nome}} </h1>
    {{/usuario}}
    {{^usuario}}
        <form action="/salvauser" method="POST">
            Usuário:<input type="text" name="username">
        </form>
    {{/usuario}}
</body>
</body>
</html>