<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
</head>
<body>
    {{#nome}} <h1> Bem vindo {{.}} </h1>{{/nome}}
    {{^nome}}
        <h1> Login </h1>
        <form action="/salvauser" method="POST">
            Usuário:<input type="text" name="username">
        </form>
    {{/nome}}
    <hr>
    {{#Tarefa}}
        {{.}}
        {{tarefas}}
    {{/Tarefa}}
    {{^Tarefa}}
        <h2> Não há nenhuma tarefa cadastrada! </h2>
    {{/Tarefa}}
</body>
</body>
</html>